@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 206 33% 95%;
    --foreground: 201 20% 20%;
    --card: 0 0% 100%;
    --card-foreground: 201 20% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 201 20% 20%;
    --primary: 201 20% 37%;
    --primary-foreground: 0 0% 98%;
    --secondary: 206 33% 90%;
    --secondary-foreground: 201 20% 20%;
    --muted: 206 33% 90%;
    --muted-foreground: 201 20% 40%;
    --accent: 151 14% 58%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 206 33% 85%;
    --input: 206 33% 85%;
    --ring: 201 20% 37%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 201 20% 10%;
    --foreground: 0 0% 98%;
    --card: 201 20% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 201 20% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 201 20% 80%;
    --primary-foreground: 201 20% 10%;
    --secondary: 201 20% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 201 20% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 151 14% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 201 20% 20%;
    --input: 201 20% 20%;
    --ring: 201 20% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
